.loop-wrapper {
    margin: 0 auto;
    position: relative;
    display: block;
    width: 200px;
    height: 95px;
  }

.corgi-body {
    width: 150px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    right: 50%;
    margin-right: -85px;
    animation: corgi-jump 0.18s ease-out alternate infinite;
    filter: drop-shadow(0 0 0.5px rgb(59, 59, 59));
    padding: 0; 
    background-color: transparent;
}

@keyframes corgi-jump {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-13px);
    }
}

.torso {
    width: 110px;
    height: 45px;
    border-radius: 40px;
    background-image: linear-gradient(#b96f2a, #c36e1c);
    /* background-color: #c36e1c; */
    position: absolute;
    bottom: 15px;
}

.legs {
    position: absolute;
    bottom: 0px;
    will-change: transform;
}

.legs.rear {
    left: 20px;
    
}

.legs.front {
    left: 75px;
}

.legs div {
    position: absolute;
    bottom: 0;
    width: 11px;
    height: 30px;
    border-radius: 20px;
    transform-origin: top center; 
}

.legs .close {
    background-color: white;
    animation: swing-leg 0.18s ease-in-out alternate infinite;
}

.legs .behind {
    background-color: rgb(177, 177, 177);
    animation: swing-leg 0.18s 0.21s ease-in-out alternate infinite;
}

@keyframes swing-leg {
    0% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

/* Head Styling */
.head {
    width: 42px;
    height: 38px;
    position: absolute;
    bottom: 40px;
    left: 80px;
    animation: swing-head 0.4s ease-in-out alternate infinite;
}

@keyframes swing-head {
    0% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.face {
    width: 40px;
    height: 36px;
    background-image: linear-gradient(#dd8c40, #c36e1c);
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Mouth Styling */
.mouth {
    width: 14px;
    height: 14px;
    background-color: transparent;
    border-bottom: 3px solid rgb(36, 36, 36);
    border-radius: 8px;
    position: absolute;
    top: 20px;
    left: 18px;
    transform: rotate(10deg);
    /* overflow: hidden; */
    backface-visibility: hidden;
    transform: translateZ(0);
    z-index: 10; 
}

.mouth, .mouth::before, .mouth::after {
    -webkit-appearance: none;
}

.mouth::after {
    content: '';
    width: 14px;
    height: 10px;
    background-color: transparent;
    border-bottom: 3px solid rgb(36, 36, 36);
    border-radius: 4px;
    position: absolute;
    /* border: none; */
    top: 1.5px;
    left: 0px;
    transform: rotate(11deg);
    outline: none;
    box-shadow: none;
    /* border: none; */
    /* border-radius: inherit; */
}

/* tongue */
.mouth::before {
    content: '';
    width: 8px;
    height: 12px;
    background-color: rgb(255, 85, 85);
    border-radius: 50% 50% 20% 20%; 
    position: absolute;
    top: -3px;
    left: 2px; 
    transform: rotate(-160deg);
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15); */
    animation: swing-tongue 0.22s 0.5s ease-in-out alternate infinite;
    transform-origin: bottom center; 
}

@keyframes swing-tongue {
    0% {
        transform: rotate(-190deg);
    }
    100% {
        transform: rotate(-138deg);
    }
}

/* Snout */
.snout {
    width: 40px;
    height: 40px;
    background-color: #dd8c40;
    clip-path: ellipse(29% 24% at 50% 1%);
    position: absolute;
    bottom: -25px;
    left: 15px;
}

.snout-top {
    clip-path: ellipse(48% 14% at 3% 99%);
    width: 40px;
    height: 40px;
    background-color: #dd8c40;
    position: absolute;
    bottom: 15px;
    left: 26.15px;
}

.snout-nose {
    width: 5px;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 23px;
    left: 41.5px;
    border-radius: 100px;
}
.snout-nose::after {
    content: '';
    width: 3px;
    height: 2px;
    background-color: rgb(105, 105, 105);
    position: absolute;
    top: 0px;
    left: 1.2px;
    border-radius: 40px;
}

/* Eyes */
.eye-left {
    width: 6px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 21px;
    z-index: 4;
}

.eye-left::before {
    content: '';
    width: 2.5px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2.25px;
    left: 3px;
}

.corgi-eyes {
    transform: scaleX(-70%) scaleY(75%) translateX(23px) translateY(-10px) rotate(-5deg);
    transform-origin: bottom center;
    position: absolute;
}

.corgi-mouth {
    transform: scaleX(-40%) scaleY(40%) translateX(-20px) translateY(6px) rotate(-5deg);
    transform-origin: bottom center;
    position: absolute;
}

/* .eyebrow-left {
    background: url("../../public/eye-left.svg") no-repeat;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 2.25px;
    left: 3px;
} */

.eye-right {
    width: 4.5px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 21px;
}

.eye-right::before {
    content: '';
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
}

/* Ears */
.ears {
    position: relative;
}

.ears div {
    width: 28px;
    height: 39px;
    background-color: #c36e1c;
    position: absolute;
    top: -30px;
    clip-path: ellipse(29% 47% at 41% 95%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.ear-left {
    transform: rotate(-18deg);
    left: -7px;
}

.ear-right {
    transform: rotate(20deg); 
    left: 23px;
}

/* Tail */
.tail {
    width: 13px;
    height: 10px;
    background-color: #c36e1c;
    position: absolute;
    bottom: 50px;
    left: 2px;
    border-radius: 50%;
    z-index: 1;
}

.tail::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 3px;
}

.floor {
    border-bottom: 3px solid #fff;
    border-radius: 20px;
    transform: translateY(70px);
    animation: floor 0.2s 0.5s ease-in-out alternate infinite;
}

@keyframes floor {
    0% {
        transform: translateY(70px) scaleX(100%);
    }
    100% {
        transform: translateY(70px) scaleX(102%);
    }
}