.musubi-img {
    width: 6rem;
    /* margin-left: 6rem; */
}

@media screen and (min-width: 1028px) {
    .musubi-img {
        width: 9vw;
        max-width: 185px;
        margin-left: 0;
    }
}

.subtitle-wrapper {
    min-width: 82%;
}

.subtitle {
    font-size: 1.1rem;
    white-space: pre-wrap;
}

@media screen and (min-width: 640px) {
    .subtitle {
        font-size: 2.9vw;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1531px) {
    .subtitle {
        font-size: 2.2vw;
    }
}

@media screen and (min-width: 1532px) {
    .subtitle {
        font-size: 40px;
    }
}

.short-animate {
    display: inline-block;
    animation: shorten 8s ease-in-out 1 forwards;
}

@keyframes shorten {
    to   { transform: scale(1.05, 0.6) translate(-2.5%, 20%); }
}

.long-animate {
    display: inline-block;
}

@media screen and (max-width: 1023px) {
    .long-animate {
        animation: elongate-moveLeft 16s ease-in-out 1 forwards;
    }
  }

@media screen and (min-width: 1024px) {
    .long-animate {
        animation: elongate 16s ease-in-out 1 forwards;
    }
  }

@keyframes elongate {
    to   { transform: scale(1.5, 1); }
}
@keyframes elongate-moveLeft {
    to   { transform: scale(1.5, 1) translate(-12.5%, 0%); }
}

.leftOfLong-animate {
    display: inline-block;
    animation: moveLeft 16s ease-in-out 1 forwards;
}

@keyframes moveLeft {
    to   { transform: translate(-2.3rem, 0%); }
}

.rightOfLong-animate {
    display: inline-block;
    animation: moveRight 16s ease-in-out 1 forwards;
}

@keyframes moveRight {
    to   { transform: translate(0.4rem, 0%); }
}

.strong-animate {
    display: inline-block;
    position: relative;
    animation: herd-energy 6s ease-in infinite forwards;
}

@keyframes herd-energy {
    0% { transform: translate(0%, 0%) scale(100%); }
    90% { transform: translate(0%, 0%) scale(100%); }
    92.5% { transform: translate(6%, 2%) scale(104%); }
    94% { transform: translate(-2%, -4%) scale(98%); }
    95% { transform: translate(0%, 0%) scale(100%); }
    100% { transform: translate(0%, 0%) scale(100%); }
   }

@media (prefers-reduced-motion) {
    /* styles to apply if a user's device settings are set to reduced motion */
    .short-animate {
        animation: none;
    }
    .long-animate {
        animation: none;
    }
    .leftOfLong-animate {
        animation: none;
    }
    .rightOfLong-animate {
        animation: none;
    }
    .strong-animate {
        animation: none;
    }
  }